body {
	margin: 0;
}

.container {
	min-width: 1280px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

/*导航栏*/
header {
	height: 57px;
}

.logo {
	display: inline-block;
	line-height: 57px;
	height: 57px;
	margin-left: 60px;
}

.logo img {
	position: relative
	top: 8px;
}

.logo-text {
	margin-left: 4px;
	font: 600 21px "黑体";
	color: #787b83;
}

.nav {
	float: right;
	margin-right: 60px;
	font: 600 14px "微软雅黑";
	padding: 5px;
}

.nav ul {
	margin-bottom: 0;
}

header a {
	margin-left: 43px;
	color: #aaa;
	padding-bottom: 15px;
}

.home {
	border-bottom: 5px solid #e87271;
	color: #e87271;
}

header a:hover {
	color: #f09a99;
	border-bottom: 5px solid #e87271;
}

.login {
	position: relative;
	display: inline-block;
}

.login img {
	position: absolute;
	right: 33px;
	top: 1px;
}

/*第一部分*/
.pic-1 {
	position: relative;
	height: 750px;
	background: url(img/1.png) no-repeat top center scroll;
	background-size: cover;
}

.shade {
	position: absolute;
	top: 0;
	height: 750px;
	width: 100%;
	opacity: 0.2;
	background-color: #000;
}

.pic-1-text-1 {
	position: absolute;
	top: 214px;
	left: 117px;
	font: 60px '微软雅黑';
	color: #fff;
}

.pic-1-text-2 {
	position: absolute;
	font: 21px '微软雅黑';
	top: 305px;
	left: 125px;
	color: #DDD;
	line-height: 32px;
}
.pic-1-button {
	position: absolute;
	left: 125px;
	top: 430px;
	width: 331px;
	height: 60px;
	background-color: #e74f4d;
	text-align: center;
	letter-spacing: 3px;
	font: 30px '微软雅黑';
	line-height: 55px;
	color: #fff;
}
.pic-1-button:hover {
	color: #e74f4d;
	background-color: #fff;
	transition: all 0.2s ease-in;
}
.bar-1 {
	position: absolute;
	top: 750px;
	width: 100%;
	height: 180px;
	background-color: #fff;
	z-index: 1;
}

.bar-1-content {
	float: left;
	width: 25%;
	height: 185px;
	margin-top: 47px;
	text-align: center;
}

.bar-1-text {
	position: relative;
	height: 50px;
	top: 47px;
	text-align: center;
	font: 600 14px '黑体'; 
	color: #767777;
}

.border {
	border-right: 2px solid #aaa;
}

/*第二部分*/
.pic-2 {
	padding-top: 250px;
	height: 340px;
	background: url(img/2.jpg) no-repeat bottom center scroll;
	background-size: cover;
}

.shade-red {
	position: absolute;
	width: 100%;
	height: 340px;
	background-color: #aa3432;
	opacity: 0.2;
}

.bar-2 {
	position: relative;
	top: 250px;
	height: 360px;
	background-color: #ededec;

	font: 54px '黑体';
	color: #a6a6a6;
	text-align: center;
}

.bar-2 img {
	padding-top: 88px; 
	padding-bottom: 38px;
}

.bar-3 {
	position: relative;
	padding-top: 50px;
	text-align: center;
}

.bar-3-text-1 {
	font: 21px '微软雅黑';
	color: #fff;
}

.white-line {
	position: relative;
	bottom: -10px;
	width: 30px;
	height: 2px;
	margin: 0 auto;
	background-color: #fff;
}
.bar-3-text-2 {
	position: relative;
	bottom: -30px;
	font: 12px '微软雅黑';
	color: #fff;
}

.search {
	padding-top: 100px;
	margin: 0 auto;
	width: 85%;
	display: flex;
	justify-content: space-around;
}

.dropdown {
	padding-left: 12px;
	width: 223px;
	height: 35px;
	background-color: #fff;
	text-align: left;

	font: 12px '微软雅黑';
	color: #a8aaaa;
	line-height: 35px;
}

.dropdown img {
	float: right;
	position: relative;
	top: 8px;
	right: 8px;
}

.search-btn {
	width: 235px;
	height: 35px;
	background-color: #be4e48;
	font: 14px '微软雅黑';
	color: #fff;
	line-height: 35px;
}

.sb-text {
	letter-spacing: 26px;
}

.content {
	position: relative;
	left: -13px;
	display: none;
	width: 233px;
	background-color: #e3e3e4;
	color: #333; 
	line-height: 30px;
}

.content ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0px;
}

.dropdown:hover .content {
	display: block;
	border: 1px solid #c07c74;
}

.dropdown:hover {
	width: 221px;
	border: 1px solid #c07c74;
}

.content-text {
	margin-left: 30px;
}
.content li:hover {
	background-color: #be4e48;
	color: #fff;
}

.bar-4 {
	height: 631px;
	background: url(img/3-6.jpg) no-repeat bottom center scroll;
	background-size: cover;
}

.bar-5{
	height: 566px;
}

.bar-5 .left{
	background: url(img/7.jpg) no-repeat;
	background-size: cover;
	position: relative;
	height: 566px;
	width: 66.6%;
	display: inline-block;
}
.bar-5 .left .title{
	position: absolute;
	top: 17%;
	left: 25%;
	margin-right: -200px;
	margin-left: -200px;	
	font-size: 21px;
	color: #FFFFFF;
	text-align: center;
	margin: 0;
	
}

.bar-5 .left .para-1{
	font-size: 47px;
	margin: 0;
}

.bar-5 .left .para-2{
	font-size: 160px;
	margin: 0;
}

.bar-5 .left .l-triangle{
	border-top: 18px solid transparent;
	border-bottom: 18px solid transparent;
	border-right: 30px solid #FFFFFF;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -18px;
}

.bar-5 .right{
	overflow: hidden;
	height: 566px;
	text-align: center;
	width: 33.3%;
	float: right;
}

.bar-5 .right .art-1 header{
	font-size: 22px;
	padding-top: 157px;
	
}

.art-1 header span{
	color: #e74f4d;
}


.art-1 p{

	width: 292px;
	line-height: 25px;
	color: #aaaaa9;
	font-size: 14px;
	text-align: left;
	margin: 30px auto;
	padding-bottom: 30px;	
}

.right .lunbo a{
	padding: 10px 30px;
	text-decoration: none;
	color: #e74f4d;
	border: 1px solid #e74f4d;
	transition: all 0.2s ease-in;
	-webkit-transition: all .2s ease-in;
}

.right .lunbo a:hover{
	color: #FFFFFF;
	background-color: #E74F4D;
	border-color: #FFFFFF;	
}	

.radio img{
	margin-top: 40px;
	display: inline-block;
}

.bar-6{
	height: 520px;
	font-size: 19px;
	color: #FFFFFF;
}

.bar-6 a{
	padding: 10px 30px;
	text-decoration: none;
	transition: all 0.2s ease-in;
	-webkit-transition: all .2s ease-in;
}

.bar-6 span{
	display: inline-block;
	width: 30px;
	height: 20px;
	margin: 20px;
	transition: width 0.4s ease-in-out;
	-webkit-transition: width 0.4s ease-in-out;
}
.bar-6 .left a{
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
}

.bar-6 .left a:hover{
	color: #e74f4d;
	background-color: #ffffff;
}

.bar-6 .center a{
	color: #e74f4d;
	border: 1px solid #e74f4d;
}

.bar-6 .center a:hover{
	color: #FFFFFF;
	background-color: #e74f4d;
}

.bar-6 .left{
	text-align: center;
	float: left;
	width: 33.3%;
	height: 520px;
	background-color: #e74f4d;
}


.bar-6 .left span{
	border-top: 2px solid #FFFFFF;
}

.bar-6 .para:hover~ span{
	width: 160px;
}

.bar-6 .center{
	text-align: center;
	float: left;
	width: 33.3%;
	height: 520px;
	color: #e74f4d;
	background-color: #FFFFFF;
	
}

.bar-6 .center span{
	border-top: 2px solid #abaaaa;
}


.bar-6 .para{
	cursor: pointer;
	
	margin-top: 169px;
	line-height: 30px;
	
}

.bar-6 .right {
	float: right;
	width: 33.3%;
	height: 520px;
	position: relative;
	background: url(img/8.jpg) no-repeat;
	background-size: cover;
}


.bar-6 .right .r-triangle{
	border-top: 18px solid transparent;
	border-bottom: 18px solid transparent;
	border-left: 30px solid #FFFFFF;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -18px;
}

.application {
	padding-top: 118px;
	
	height: 632px;
}

.application .title {
	text-align: center;
} 

.application .text-1 {
	font: 21px '黑体';
	color: #323333;
}

.application .line {
	margin: 10px auto 0 auto;
	width: 30px;
	height: 2px;
	background-color: #e74f4d;
}

.application .text-2 {
	margin: 14px auto 0 auto;
	width: 421px;
	font: 12px '微软雅黑';
	color: #aaaaaa;
	line-height: 18px;
}

.application-left {
	float: left;
	width: 290px;
	margin-left: 138px;
	margin-top: 108px;
}

.application-left .title {
	font: 14px '黑体';
	color: #231815;
	text-align: left;
	opacity: 0.8;
	clear: right;
}

.application-left .text {
	margin-top: 25px;
	font: 12px '宋体';
	color: #231815;
	line-height: 21px;
	opacity: 0.6;
}

.application-left .more {
	float: right;
	font: 12px '宋体';
	color: #231815;
	opacity:  0.6;
}

.section-2 , .section-3 {
	margin-top: 42px;
}

.application-right {
	float: right;
	margin-top: 106px; 
	margin-right: 141px;
}

.application-right input,textarea {
	background-color: #ededee;
	border: none;
	margin-bottom: 14px;
}

.small {
	width: 294px;
	height: 40px;
}

.big {
	padding-top: 10px;
	width: 623px;
	height: 110px;
}

.middle {
	width: 639px;
	height: 40px;
}

.form-right {
	float: right;
}

.small , .big {
	font: 12px '宋体';
	color: #231815;
	padding-left: 16px;
}

.middle {
	font: 14px '黑体';
	color: #323333;
}

footer {
	position: relative;
	height: 414px;
	background-color: #32353e;
}

.bottom {
	position: absolute;
	bottom: 0;
	height: 58px;
	width: 100%;
	background-color: #2f2f38;
}

.contact-us {
	padding-top: 92px;
	text-align: center;
}

.contact-us .title {
	margin-bottom: 11px;
	font: 21px '黑体';
	color: #fff;
}

.contact-us .text {
	margin-bottom: 30px;
	font: 12px '宋体';
	color: #fff;
}

.contact-us .email {
	margin-bottom: 37px;
	border: 0;
	padding: 0;
	display: inline-block;
	width: 430px;
	height: 40px;
	font: 14px '微软雅黑';
	color: #777;
}

.contact-us .btn {
	display: inline-block;
	border: 0;
	width: 80px;
	height: 40px;
	background-color: #6f7178;
	color: #fff;
	font: 15px '微软雅黑';
}

.info {
	float: left;
	margin-left: 100px;
	margin-top: 30px;
	font: 12px '宋体';
	color: #fff;
}

.btt {
	float: right;
	margin-right: 40px;
	margin-top: 30px;
	font: 12px '宋体';
	color: #fff;
}