/* Own CSS Grid System */
* {
	box-sizing: border-box;
}

.container {
	width: 100%;
	padding: 10px;
	border: 2px solid #999;
	background-color: #ddd;
}

.col {
	float: left;
	margin: 10px;
	height: 50px;
	background-color: #eee;
	border: 2px solid #999;
}

.row::before,
.row::after {
	content: "";
	display: table;
	clear: both;
}

@media only screen and (min-width: 769px) {
	.col-sm-1 {
		width: calc(8.33% - 20px);
	}
	
	.col-sm-2 {
		width: calc(16.66% - 20px);
	}
	
	.col-sm-3 {
		width: calc(25% - 20px);
	}
	
	.col-sm-4 {
		width: calc(33.33% - 20px);
	}
	
	.col-sm-6 {
		width: calc(50% - 20px);
	}
}

@media only screen and (max-width: 768px) {
	.col-xs-1 {
		width: calc(8.33% - 20px);
	}
	
	.col-xs-2 {
		width: calc(16.66% - 20px);
	}
	
	.col-xs-3 {
		width: calc(25% - 20px);
	}
	
	.col-xs-4 {
		width: calc(33.33% - 20px);
	}
	
	.col-xs-6 {
		width: calc(50% - 20px);
	}

	.col-xs-8 {
		width: calc(66.6% - 20px);
	}

	.col-xs-12 {
		width: calc(100% - 20px);
	}
}
