.container {
	position: relative;
}
.gray {
	height: 200px;
	width: 400px;
	background-color: #CCC;
	
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -100px;
	overflow: hidden;
}

.circle {
	border-radius: 50px;
	background-color: #FC0;
	width: 100px;
	height: 100px;
}

.first {
	position: absolute;
	margin-top: -50px;
	margin-left: -50px;
}

.second {
	position: absolute;
	margin-top: 150px;
	margin-left: 350px;
}